body{
    background-color: yellowgreen;
    color:black;
}

h1{
    text-align: center;
}

p{
    border: 1px solid red
}
h1{font-size: 22px; Font-family:Arial;}

.program{
    color:aqua;
    color:red;
    text-align:center;
}
.förväntningar{
    text-align: right;
}
.introduktion{
    text-align: center;
}